<!DOCTYPE html>
<html>
  <head>
    <title>LilTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-light bg-faded">
      <%= link_to "Lil Twitter", root_path, class: "navbar-brand" %>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"nav-link") %>
          </li>
        <% else %>
          <li class="nav-item">
          <%= link_to('Login', new_user_session_path, class:"nav-link") %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
